<h1>New Articles</h1>
<%= form_for :article, url: articles_path do |f| %>
<!-- ↑メソッド ↑フォームを識別するためのオブジェクト、シンボル-->
<!-- url:はオプション -->
  <% if @article.errors.any? %>
    <p><%= pluralize(@article.errors.count, "error") %> prohibited
      this article from being saved:</p>
      <ul>
        <% @article.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
  <% end %>
  <p>
    <%= f.label :title %><br>
    <%= f.text_field :title  %>
  </p>
  <p>
    <%= f.label :text %><br>
    <%= f.text_field :text %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>
<%= link_to 'back', articles_path %>
